[user]
	name = Vinul Wimalaweera
	email = 16556525+vinulw@users.noreply.github.com

[alias]
    a = add
    co = checkout
    ci = commit
    st = status
    b = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    p = push
    ap = add --patch

    lgp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    la = "!git config -l | grep alias | cut -c 7-"
[core]
	editor = nvim
